aside {
  background: #e78d8d;
  padding: 10px;
  width: 200px;
}
nav {
  background: #f0c2c2;
  padding: 10px;
  width: 200px;
}
ul {
  text-transform: uppercase;
  font-size: larger;
  padding: 10px;
}
li {
  padding: 10px;
  list-style-type: none;
}
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  font-family: Bradley Hand, cursive;
}

a:link {
  color: rgb(119, 38, 65);
}

a:visited {
  color: gray;
}

a:focus,
a:hover {
  color: whitesmoke;
}
